*.ERR

*.MBO

*.MBX

*.TAB

CommonLib/

HelaSolen.*
AVLOPP_RENING_ENSKILT/
Adress/
Tab-Bygg_Fastigheter/
Tab-sweref/
*.DAT
*.ID
*.IND
*.MAP
*.DAT
*.TDA
*.TIN
*.TMA
*.TAB
HelaSolen.TAB
*.DAT
Komponent/MHK PathReferenser.csv
Tab-Adress/
Mapbasic-CommonLib/
Tab-AVLOPP_RENING_ENSKILT/

.fake
.ionide